<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" (click)="goHome($event)" style="cursor: pointer;">
            <img src="assets/img/CangrejoSinFondo.png" alt="Cangrejo Azul - Movimiento de Conservación" class="brand-logo">
        </a>

        <button class="navbar-toggler" type="button" (click)="toggleNavbar()" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.show]="!isCollapsed">
            <ul class="navbar-nav">
                <li class="nav-item" *ngFor="let navItem of navItems">
                    <a *ngIf="navItem.title === 'Inicio'" (click)="goHome($event)" class="nav-link" style="cursor: pointer;">{{navItem.title}}</a>
                    <a *ngIf="navItem.title !== 'Inicio'" [routerLink]="[navItem.route]" class="nav-link">{{navItem.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>