<div class="container">
    <div class="section-heading text-center">
        <h2>Elogios de Clientes</h2>
    </div>
    <div class="row g-3">
        <div class="col-sm-6 col-lg-4">
            <div class="testimonials-box">
                <div class="t-icon">
                    <img src="assets/img/brand-1.svg" title="" alt="">
                </div>
                <h5>Nuestras expectativas fueron superadas por el excepcional diseño web</h5>
                <p>El detalle y la creatividad superaron nuestras expectativas durante la rediseño de nuestro sitio web. El sitio visualmente impresionante y fácil de usar que produjo mejoró inmediatamente nuestra presencia en línea</p>
                <div class="t-user">
                    <div class="t-user-icon">
                        <img src="assets/img/avatar-1.jpg" title="" alt="">
                    </div>
                    <div class="t-text">
                        <h6>Will Smith</h6>
                        <span>Empresa Ejemplo</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="testimonials-box">
                <div class="t-icon">
                    <img src="assets/img/brand-2.svg" title="" alt="">
                </div>
                <h5>Nuestras expectativas fueron superadas por el excepcional diseño web</h5>
                <p>El detalle y la creatividad superaron nuestras expectativas durante la rediseño de nuestro sitio web. El sitio visualmente impresionante y fácil de usar que produjo mejoró inmediatamente nuestra presencia en línea</p>
                <div class="t-user">
                    <div class="t-user-icon">
                        <img src="assets/img/avatar-2.jpg" title="" alt="">
                    </div>
                    <div class="t-text">
                        <h6>Will Smith</h6>
                        <span>Empresa Ejemplo</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="testimonials-box">
                <div class="t-icon">
                    <img src="assets/img/brand-1.svg" title="" alt="">
                </div>
                <h5>Nuestras expectativas fueron superadas por el excepcional diseño web</h5>
                <p>El detalle y la creatividad superaron nuestras expectativas durante la rediseño de nuestro sitio web. El sitio visualmente impresionante y fácil de usar que produjo mejoró inmediatamente nuestra presencia en línea</p>
                <div class="t-user">
                    <div class="t-user-icon">
                        <img src="assets/img/avatar-3.jpg" title="" alt="">
                    </div>
                    <div class="t-text">
                        <h6>Will Smith</h6>
                        <span>Empresa Ejemplo</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="testimonials-box">
                <div class="t-icon">
                    <img src="assets/img/brand-2.svg" title="" alt="">
                </div>
                <h5>Nuestras expectativas fueron superadas por el excepcional diseño web</h5>
                <p>El detalle y la creatividad superaron nuestras expectativas durante la rediseño de nuestro sitio web. El sitio visualmente impresionante y fácil de usar que produjo mejoró inmediatamente nuestra presencia en línea</p>
                <div class="t-user">
                    <div class="t-user-icon">
                        <img src="assets/img/avatar-4.jpg" title="" alt="">
                    </div>
                    <div class="t-text">
                        <h6>Will Smith</h6>
                        <span>Empresa Ejemplo</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="testimonials-box">
                <div class="t-icon">
                    <img src="assets/img/brand-1.svg" title="" alt="">
                </div>
                <h5>Nuestras expectativas fueron superadas por el excepcional diseño web</h5>
                <p>El detalle y la creatividad superaron nuestras expectativas durante la rediseño de nuestro sitio web. El sitio visualmente impresionante y fácil de usar que produjo mejoró inmediatamente nuestra presencia en línea</p>
                <div class="t-user">
                    <div class="t-user-icon">
                        <img src="assets/img/avatar-1.jpg" title="" alt="">
                    </div>
                    <div class="t-text">
                        <h6>Will Smith</h6>
                        <span>Empresa Ejemplo</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="testimonials-box">
                <div class="t-icon">
                    <img src="assets/img/brand-2.svg" title="" alt="">
                </div>
                <h5>Nuestras expectativas fueron superadas por el excepcional diseño web</h5>
                <p>El detalle y la creatividad superaron nuestras expectativas durante la rediseño de nuestro sitio web. El sitio visualmente impresionante y fácil de usar que produjo mejoró inmediatamente nuestra presencia en línea</p>
                <div class="t-user">
                    <div class="t-user-icon">
                        <img src="assets/img/avatar-3.jpg" title="" alt="">
                    </div>
                    <div class="t-text">
                        <h6>Will Smith</h6>
                        <span>Empresa Ejemplo</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>