<div class="container">
    <div class="row justify-content-between">
        <div class="col-lg-5">
            <div class="section-heading">
                <h6>Servicios</h6>
                <h2>Obtén un sitio web potente que entrega resultados con una solución todo en uno</h2>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="feature-box-01">
                <div class="feature-icon">
                    <span><i class="bi-code-square"></i></span>
                </div>
                <div class="feature-content">
                    <h5>Diseño Web</h5>
                    <p>Di adiós a la molestia de gestionar múltiples proveedores y obtén una solución de sitio web todo en uno que cubre diseño, desarrollo y creación de contenido</p>
                </div>
            </div>
            <div class="feature-box-01">
                <div class="feature-icon">
                    <span> <i class="bi-palette"></i></span>
                </div>
                <div class="feature-content">
                    <h5>Diseñador UI/UX</h5>
                    <p>Di adiós a la molestia de gestionar múltiples proveedores y obtén una solución de sitio web todo en uno que cubre diseño, desarrollo y creación de contenido</p>
                </div>
            </div>
            <div class="feature-box-01">
                <div class="feature-icon">
                    <span> <i class="bi-speedometer2"></i></span>
                </div>
                <div class="feature-content">
                    <h5>Investigación de Usuario</h5>
                    <p>Di adiós a la molestia de gestionar múltiples proveedores y obtén una solución de sitio web todo en uno que cubre diseño, desarrollo y creación de contenido</p>
                </div>
            </div>
        </div>
    </div>
</div>