<div class="work-section section">
    <div class="container">
        <div class="section-heading text-center mb-2">
            <h2 class="m-0">Proyectos Destacados</h2>
        </div>
        <div class="row gx-0">
            <div class="project-box gy-5" style="background-image: url(assets/img/project-1.jpg);">
                <div class="row align-items-end gy-5">
                    <div class="col-lg-7">
                        <div class="project-desc">
                            <h3>Proyecto 1</h3>
                            <p>En publicación y diseño gráfico, Lorem ipsum es un texto de marcador de posición comúnmente utilizado para demostrar</p>
                            <div class="btn-bar">
                                <a class="px-btn light px_modal" data-bs-toggle="modal" 
                                data-bs-target="#project_1"><span>Ver Proyecto</span> <i class="bi-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 text-lg-end">
                        <div class="project-tags">
                            <span>Diseño Web</span>
                            <span>Diseño Web</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-box gy-5" style="background-image: url(assets/img/project-2.jpg);">
                <div class="row align-items-end gy-5">
                    <div class="col-lg-7">
                        <div class="project-desc">
                            <h3>Proyecto 2</h3>
                            <p>En publicación y diseño gráfico, Lorem ipsum es un texto de marcador de posición comúnmente utilizado para demostrar</p>
                            <div class="btn-bar">
                                <a class="px-btn light px_modal" data-bs-toggle="modal" 
                                data-bs-target="#project_2"><span>Ver Proyecto</span> <i class="bi-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 text-lg-end">
                        <div class="project-tags">
                            <span>Diseño Web</span>
                            <span>Diseño Web</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-box gy-5" style="background-image: url(assets/img/project-3.jpg);">
                <div class="row align-items-end gy-5">
                    <div class="col-lg-7">
                        <div class="project-desc">
                            <h3>Proyecto 3</h3>
                            <p>En publicación y diseño gráfico, Lorem ipsum es un texto de marcador de posición comúnmente utilizado para demostrar</p>
                            <div class="btn-bar">
                                <a class="px-btn light px_modal" data-bs-toggle="modal" 
                                data-bs-target="#project_3"><span>Ver Proyecto</span> <i class="bi-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 text-lg-end">
                        <div class="project-tags">
                            <span>Diseño Web</span>
                            <span>Diseño Web</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

