@import 'src/scss/mixin';

/* Brands Section Styles */
.brands-section {
    position: relative;
    z-index: 1;
    
    .brand-box {
        text-align: center;
        padding: 20px;
        
        img {
            max-width: 100%;
            height: auto;
            filter: grayscale(100%);
            opacity: 0.5;
            transition: ease all 0.35s;
            
            &:hover {
                filter: grayscale(0);
                opacity: 1;
            }
        }
    }
}
