<div class="container">
    <div class="row justify-content-between">
        <div class="col-lg-5">
            <div class="section-heading">
                <h6>MI PROCESO</h6>
                <h2>Transforma tus sueños de sitio web en realidad en solo unos simples pasos.</h2>
                <div class="btn-bar mt-4">
                    <a class="px-btn dark" href="javascript:"><span>Contáctame</span> <i class="bi-arrow-right"></i> </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="feature-box-01">
                <div class="feature-icon">
                    <span><i class="fa fa-chart-bar"></i></span>
                </div>
                <div class="feature-content">
                    <h5>Concepto</h5>
                    <p>Di adiós a la molestia de gestionar múltiples proveedores y obtén una solución de sitio web todo en uno que cubre diseño, desarrollo y creación de contenido</p>
                    <ul>
                        <li>Revisión de cualquier marca existente</li>
                        <li>Investigación de audiencia objetivo y competidores</li>
                        <li>Desarrollo de una estrategia</li>
                    </ul>
                </div>
            </div>
            <div class="feature-box-01">
                <div class="feature-icon">
                    <span><i class="fa fa-paintbrush"></i></span>
                </div>
                <div class="feature-content">
                    <h5>Diseño</h5>
                    <p>Di adiós a la molestia de gestionar múltiples proveedores y obtén una solución de sitio web todo en uno que cubre diseño, desarrollo y creación de contenido</p>
                    <ul>
                        <li>Revisión de cualquier marca existente</li>
                        <li>Investigación de audiencia objetivo y competidores</li>
                        <li>Desarrollo de una estrategia</li>
                    </ul>
                </div>
            </div>
            <div class="feature-box-01">
                <div class="feature-icon">
                    <span><i class="fa fa-code-fork"></i></span>
                </div>
                <div class="feature-content">
                    <h5>Desarrollo</h5>
                    <p>Di adiós a la molestia de gestionar múltiples proveedores y obtén una solución de sitio web todo en uno que cubre diseño, desarrollo y creación de contenido</p>
                    <ul>
                        <li>Revisión de cualquier marca existente</li>
                        <li>Investigación de audiencia objetivo y competidores</li>
                        <li>Desarrollo de una estrategia</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

