@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


$px-font:			'Oswald', sans-serif !default;


// Theme Variable

$px-theme:				#ed97c6;
$px-white:				#fffeff;
$px-purple:				#ae77ff;

$px-text:				#707476;
$px-heading:			#010101;




// Breakpoints
$px-media-xsm:		567px !default;
$px-media-sm:		767px !default;
$px-media-md:		991px !default;
$px-media-lg:		1200px !default;
