<!-- <div class="fixed-skill">
    <ul>
        <li>
            <label>Mi Experiencia</label>
        </li>
        <li>
            <span>
                <img src="assets/img/figma.svg" title="" alt="">
            </span>
        </li>
        <li>
            <span>
                <img src="assets/img/sketch.svg" title="" alt="">
            </span>
        </li>
        <li>
            <span>
                <img src="assets/img/html_5.svg" title="" alt="">
            </span>
        </li>
        <li>
            <span>
                <img src="assets/img/css_3.svg" title="" alt="">
            </span>
        </li>
    </ul>
</div> -->
<div class="container">
    <div class="row align-items-end">
        <div class="col-lg-7">
            <div class="hs-text-box">
                <h1>Soy Mikon</h1>
                <h2>Soy un <span class="typed-element"></span></h2>
                <div class="btn-bar">
                    <a class="px-btn light" href="javascript:"><span>Contáctame</span> <i class="bi-arrow-right"></i> </a>
                </div>
                <div class="review-box">
                    <div class="r-box">
                        <h3>280<span>+</span></h3>
                        <label>Reseñas en Google</label>
                    </div>
                    <div class="r-box">
                        <h3>15<span>+</span></h3>
                        <label>Años de Experiencia</label>
                    </div>
                    <div class="r-box">
                        <h3>49<span>+</span></h3>
                        <label>Premios Ganados</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <!-- <div class="hs-banner">
                <img src="assets/img/about-me.png" title="" alt="">
            </div> -->
        </div>
    </div>
</div>