@import 'src/scss/variable';
@import 'src/scss/mixin';
@import 'src/scss/color';
@import 'src/scss/root';
@import 'src/scss/globals';
@import 'src/scss/base';
@import 'src/scss/button';
@import 'src/scss/footer';
@import 'src/scss/header';
@import 'src/scss/style';

.home-section {
    background: var(--px-purple);
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding-top: 100px;
    @include down-md {
        padding-top: 150px;
    }

    .hs-banner {
        @include down-md {
            display: block;
            max-width: 400px;
            margin: 0 auto;
        }
    }
    .fixed-skill {
        position: absolute;
        right: 30px;
        bottom: 50px;
        display: flex;
        align-items: center;
        @include down-md {
            display: none;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                margin: 10px 0;
                position: relative;
                &:first-child {
                    margin-bottom: 40px;
                }
            }
        }
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background: var(--px-white);
            border-radius: 50%;
        }
        label {
            text-transform: uppercase;
            color: var(--px-purple);
            transform: rotate(90deg) translatey(80px);
            width: 200px;
            height: 20px;
            position: absolute;
            left: 0;
            bottom: 72px;
            letter-spacing: 4px;
            font-size: 14px;
            font-weight: 500;
            &:after {
                content: "";
                position: absolute;
                bottom: 0px;
                height: 30px;
                width: 2px;
                background: var(--px-white);
                transform: rotate(90deg) translateY(-20px);
                top: 0px;
                margin: auto;
            }
        }
    }
    .container {
        position: relative;
    }

    .hs-text-box {
        @include down-md {
            text-align: center;
        }
        h1 {
            font-weight: 400;
            font-size: 100px;
            position: relative;
            color: var(--px-white);
            margin: 0 0 30px;
            line-height: 1.1;
            @include down-lg {
                font-size: 80px;
            }
            @include down-md {
                font-size: 60px;
            }
        }
        h2 {
            border: 3px solid var(--px-theme);
            background: #FEEEB7;
            display: inline-block;
            vertical-align: top;
            padding: 7px 23px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 3px;
            position: relative;
            @include down-md {
                font-size: 18px;
            }
            &:before,
            &:after {
                content: "";
                width: 8px;
                height: 8px;
                background: var(--px-theme);
                position: absolute;
                top: -8px;
            }
            &:before {
                left: -8px;
            }
            &:after {
                right: -8px;
            }
            > span {
                &:before,
                &:after {
                    content: "";
                    width: 8px;
                    height: 8px;
                    background: var(--px-theme);
                    position: absolute;
                    bottom: -8px;
                }
                &:before {
                    left: -8px;
                }
                &:after {
                    right: -8px;
                }
            }
        }
    }
    .btn-bar {
        padding: 40px 0 60px;
        @include down-md {
            padding: 30px 0;
        }
    }
    .review-box {
        display: flex;
        padding-bottom: 100px;
        @include down-md {
            justify-content: center;
            padding-bottom: 50px;
        }
        .r-box {
            + .r-box {
                padding-left: 40px;
                @include down-md {
                    padding-left: 20px;
                }
            }
        }
        h3 {
            color: var(--px-white);
            font-weight: 700;
            margin: 0;
            font-size: 35px;
            @include down-md {
                font-size: 25px;
            }
            span {
                color: var(--px-theme);
            }
        }
        label {
            color: var(--px-white);
            @include down-md {
                font-size: 12px;
            }
        }
    }
}